{{page-title "Приют для животных: Домик надежды"}}

<h2 class="text-center m-4">Наши любимцы</h2>

<div class="row row-cols-1 row-cols-md-3">
    <div class="col mb-4">
        <div class="card">
            <img src="\img\catHoma1.jpg" class="card-img-top" alt="Сибма">
            <div class="card-body">
                <h5 class="card-title">Симба</h5>
                <p class="card-text"> Котенок Симба был найден на улице. Он был очень маленьким и слабым, но сотрудники
                    приюта сделали все возможное, чтобы он выжил.
                    Сейчас это очень игривый кот, любящий веселиться со своими соседями по клетке и мечтающий о том,
                    чтобы найти свой дом и любящих хозяев.
                </p>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card">
            <img src="\img\catHoma4.jpg" class="card-img-top" alt="Белок">
            <div class="card-body">
                <h5 class="card-title">Белок</h5>
                <p class="card-text"> Котенок Белок был найден на улице в очень голодном и измотанном состоянии. Его
                    привезли в приют для животных, где сотрудники начали заботиться о нем.
                    Сейчас это красивый и игривый кот, который ждет когда его заберут в новую семью.
                </p>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card">
            <img src="\img\catHoma3.jpg" class="card-img-top" alt="Клео">
            <div class="card-body">
                <h5 class="card-title">Клео</h5>
                <p class="card-text"> Кошка Клео появилась в нашем приюте не давно. У прошлых хозяев оказалась аллергяи
                    на шерсть животных и они принесли ее в наш приют.
                    Кошка ласковая, спокойная, стерелизованная, любит играть и спать на теплом коврике.
                </p>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card">
            <img src="\img\catHoma2.jpg" class="card-img-top" alt="Лунтик">
            <div class="card-body">
                <h5 class="card-title">Лунтик</h5>
                <p class="card-text">Лунтик - интересное имя для кота, неправдоли. Кот привит, приучен к лотку.</p>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card">
            <img src="\img\catHoma5.jpg" class="card-img-top" alt="Рыжик">
            <div class="card-body">
                <h5 class="card-title">Рыжик</h5>
                <p class="card-text"> Котенок Белок был найден на улице в очень голодном и измотанном состоянии. Его
                    привезли в приют для животных, где сотрудники начали заботиться о нем.
                    Сейчас это красивый и игривый кот, который ждет когда его заберут в новую семью.
                </p>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card">
            <img src="\img\catHoma6.jpg" class="card-img-top" alt="Малыш">
            <div class="card-body">
                <h5 class="card-title">Малыш</h5>
                <p class="card-text"> Малыша подкинули в наш приют несколько месяуев назат. Интересно почему от него
                    избавелись, ведь это спокойный и добродушный кот, который ждет когда его заберут
                    в новую семью.</p>
            </div>
        </div>
    </div>
</div>

{{outlet}}